<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Soccer League</title>
</head>

<body>
    <header>
        <h1>Welcome to Soccer League Debate</h1>
        <nav>
            <ul>
                <li>
                    <a href="/Premier League">Premier League
                    </a>
                </li>
                <li>
                    <a href="/LaLiga">LaLiga</a>
                </li>
                <li>
                    <a href="/Serie A">Serie A</a>
                </li>
                <li>
                    <a href="/Bundesliga">Bundesliga</a>
                </li>
            </ul>
        </nav>
    </header>


</body>

</html>